<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Snack Vue Js</title>
</head>

<body>
    <!-- inizio container -->
    <div id="app" class="container"> 
        <div id="contactsArea">
            <div class="personal">
                <div>
                    <img src="img/avatar_io.png" alt="">
                    <span>Omar D'Amico</span>
                </div>
                <div>
                    <p><i class="fas fa-circle-notch"></i></p>
                    <p><i class="fas fa-comment-alt"></i></p>
                    <p><i class="fas fa-ellipsis-v"></i></p>
                </div>
            </div>
            <div id="notifications">
                <div><i class="far fa-bell-slash"></i></div>
                <div>
                    <p class="textBold">Ricevi notifiche di nuovi messaggi</p>
                    <p class="textSmallerGreyUnder">Attiva notifiche via desktop</p>
                </div>
            </div>
            <div id="search">
                <div><p><i class="fas fa-search"></i></p><input type="text" placeholder="Cerca o inizia una nuova chat" @keyup="searchContact" v-model="searchBar"></div>
            </div>
            <div id="contactList">
                <div :style="(contactCounter == index) ? colorContact : null" v-for="(contact, index) in contacts" @click="showConversation(index)" v-if="contact.visible" class="relative">
                    <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="contact">
                    <p class="cap">{{ contact.name }}</p>
                    <p @click="showContactListDetails">{{ "Ultimo accesso alle " + contact.messages[contactListDetails].date }}</p> 
                    <!-- vedi nota al fondo del JS -->
                </div>
            </div>
        </div>
        <!-- chiusura contactsArea -->
        <div id="messagesArea">
            <div class="personal">
                <div>
                    <img :src="'img/avatar' + contacts[contactCounter].avatar + '.jpg'" alt="contact">
                    <div >
                        <p class="cap ">{{contacts[contactCounter].name}}</p>
                        <p class="textSmallerGrey">Ultimo accesso oggi alle</p>
                    </div>      
                </div>
                <div>
                    <p><i class="fas fa-search"></i></p>
                    <p><i class="fas fa-paperclip"></i></p>
                    <p><i class="fas fa-ellipsis-v"></i></p>
                </div>
            </div>
            <div id="messages" class="clearfix">
                <div v-for="(message, index) in contacts[contactCounter].messages" :class="(message.status == 'sent') ? 'floatRight' : 'floatLeft'">
                    <p>{{ message.text }}</p>
                    <p>{{ message.date }}</p>
                    <p @click="showMenuMessageVisibility(index)"><i class="fas fa-chevron-down"></i></p>
                    <div id="menuMessage" :class="(message.menuVisible) ? 'visible' : null">
                        <p>Info</p>
                        <p @click="deleteMessage(index)">Delete</p>
                    </div>
                </div>
            </div>
            <div id="typing">
                    <p><i class="far fa-smile"></i></p>
                    <input placeholder="Scrivi un messaggio" type="text" v-model="newText" @keyup.enter="sendMessage">
                    <p @click="sendMessage"><i class="fas fa-microphone"></i></p>
            </div>
        </div>
        <!-- chiusura messagesArea -->
    </div> 
    <!-- chiusura container -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="master.js"></script>
</body>


</html>