* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.clearfix {
	content: "";
	display: table;
	clear: both;
}
.textBold {
    font-weight: bold;
}
.textSmallerGrey {
    font-size: 0.8em;
    color:rgb(107, 107, 107)y;
}
.textSmallerGreyUnder {
    font-size: 0.8em;
    color:rgb(107, 107, 107);
    text-decoration: underline;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #009688 0px, #009688 20vh, #dddbd1 20vh, #dddbd1 100%);
}
.container {
    width: 90%;
    min-width: 850px;
    height: 95%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.container > div, #contactsArea > div, #messagesArea > div {
    border-right: 1px solid lightgray; 
}
/* Dimesionamento div principali e div minori */
#contactsArea {
    width: 35%;
}
.personal, #typing, #search {
    height: 8%;
    background-color:#EDEDED;
}
#notifications {
    height: 12%;
    background-color: #9DE1FE;
}
#contactList {
    height: 72%;
    background-color: white;
}
#messagesArea {
    width: 65%;
}
#messages {
    height: 84%;
    background-image: url(img/mine.jpg);
}
/* Posizionamento contenuto div minori */
#contactsArea > div, #messagesArea > div:not(#messages) {
    padding: 10px 10px;
}
.personal, #typing {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#notifications, #search {
    display: flex;
    align-items: center;
}
/* contenuti */
.personal > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.personal img, #contactList img {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.personal p, #search p  {
    margin-left: 20px;
    color: rgb(105, 105, 105);
}
#notifications div:first-child {
    background-color: white;
    color: lightblue;
    padding: 10px;
    font-size: 1.5em;
    margin-right: 10px;
    border-radius: 50%;
}
#search div {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
 #search input {
     width: 85%;
     height: 100%;
     border: 1px solid white;
}
#contactList {
     overflow-y: auto;
}
#contactList > div {
     padding: 10px 5px;
     display: flex;
     align-content: center;
}
#contactList > div:hover {
      background-color: #EDEDED;
}
#contactList p {
     font-weight: bold;
}

#typing > input {
    width: 80%;
    height: 100%;
    padding: 10px 0px;
    border: 1px solid #EDEDED;
}
#typing p {
    color: rgb(105, 105, 105);
    font-size: 1.5em;
    padding: 0 20px;
}
#messages {
     padding: 50px 50px;
     display: flex;
     flex-direction: column;
     overflow-y: auto;
     scroll-margin-block-start: 0;
}
#messages > div {
     position: relative;
     width: 350px;
     margin-bottom: 20px;
     padding: 20px 15px;
     border-radius: 20px;
     font-weight: bold;
}
#messages > div > p {
    word-wrap: break-word;
}
#messages > div > p:nth-child(2) {
     position: absolute;
     right: 10px;
     bottom: 5px;
     font-weight:lighter;
     font-size: 0.8em;
     color: grey;
}
.floatLeft {
     align-self: flex-start;
     background-color: #FFFFFF;
}
 .floatRight {
     align-self: flex-end;
     background-color: #DCF8C6;
}

.container > #contactsArea > #contactList > .hideContact {
    display: none;
}

@media screen and (max-width: 900px) {
     .container {
        width: 100%;
        height: 100%;
    };
    #messages > div {
     width: 150px;
     margin-bottom: 20px;
     padding: 15px 10px;
    };
}
 



 
 


